body {
    padding-top: 70px;
}

section.comments h3.panel-title {
    line-height: 32px;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.violet {
    color: violet;
}

.blue {
    color: blue;
}

.grey {
    color: grey;
}

#area-detail form textarea {
    resize: none;
}

#area-preview {
    line-height: 34px;
}

#button-note-delete {
    margin-bottom: 10px;
    margin-top: 20px;
}

#area-ideas, #area-note-buttons {
    margin-bottom: 0;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.avatar {
    width: 14px;
    height: 14px;
    border: thin solid black;
    /*padding: 2px;*/
    display: inline-block;
}

.avatar.color {
}

.fullWidth {
    width: 100%;
}